<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #fec232;">
    <a class="navbar-brand" href="{{ path('wild') }}">Wild Circus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('show_homepage') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('show_content') }}">The Wild Circus<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('show_performs') }}">Performances<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('show_price') }}">Prices<span class="sr-only">(current)</span></a>
            </li>

            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('category_index') }}">Categories</a>
                    <a class="dropdown-item" href="{{ path('content_index') }}">Contents</a>
                    <a class="dropdown-item" href="{{ path('performance_index') }}">Performances</a>
                    <a class="dropdown-item" href="{{ path('price_index') }}">Prices</a>
                    <a class="dropdown-item" href="{{ path('user_index') }}">Users</a>
                </div>
            </li>
            {% endif %}


        </ul>
        <div class="d-flex justify-content-end text-white mr-2">
            {% if app.user %}
                <li class="nav-item nav-link active">
                    {% trans with {'%username%': app.user.email} %}
                        Hello_username
                    {% endtrans %} !
                </li>
                <a class="nav-link text-dark text-decoration-none" href="{{ path('wild_profile') }}">My account</a>

                <a class="nav-link text-dark text-decoration-none ml-4" href="{{ path('app_logout') }}">{{ 'account.logout'|trans }}</a>
            {% else %}
                <a class="nav-link text-dark text-decoration-none" href="{{ path('app_register') }}">Sign in</a>

                <a class="nav-link text-dark text-decoration-none" href="{{ path('app_login') }}">{{ 'account.login'|trans }}</a>
            {% endif %}
        </div>
    </div>
</nav>